---
title: "Home"
layout: default
sitemap: false
---
<link rel="stylesheet" type="text/css" href="style.css">
<article>
  <header><h1>Gautam</h1></header>
 <div>
					<ul>
						<li class="topictext">Over Two decades of experience in Software engineering, strategy and product development, and delivering technological solutions.</li>
						<li class="topictext">Education- Masters & Bachelors in CS Engineering</li>
						<li class="topictext">Experience- Worked for various Fortune 100/500 companies/industry domains, such as Fintech, Product focussed and others.</li>
						<li class="topictext">Quick learner with a passion for technologies in Mobile, AI/ML, Cloud and others.</li>
						<li class="topictext">Does Architecture for scale, software Optimization for reliable and smarter solutions.</li>
						<li class="topictext">Have a quest for improving existing and creating new innovative solutions that can help deliver core business values.</li>
						<li class="topictext">Have good experience in building Technical teams, Product Strategy, Software Design, Application Architecture, Product Innovation Strategy.</li>
						<li class="topictext">Always looking to help startups scale from technology side in consulting/cto capacity.</li>
						<li class="topictext">Please feel free to reach me at Consultgx@gmail.com</li>
					</ul>
				</div>
</article>


<!-- 
{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %} -->
